body {
    font-family: 'Roboto', sans-serif;
  }
  


  button {
    background-color: blue;
    color: white;
    transition: background-color 0.5s;
  }
  
  button:hover {
    background-color: red;
  }
  